version: '3.4'

# This is an example docker-compose file to quickly test an IPFS Cluster
# with multiple peers on a contained environment.

# It runs 3 cluster peers (cluster0, cluster1...) attached to go-ipfs daemons
# (ipfs0, ipfs1...) using the CRDT consensus component. Cluster peers
# autodiscover themselves using mDNS on the docker internal network.
#
# To interact with the cluster use "ipfs-cluster-ctl" (the cluster0 API port is
# exposed to the locahost. You can also "docker exec -ti cluster0 sh" and run
# it from the container. "ipfs-cluster-ctl peers ls" should show all 3 peers a few
# seconds after start.
#
# For persistence, a "compose" folder is created and used to store configurations
# and states. This can be used to edit configurations in subsequent runs. It looks
# as follows:
#
# compose/
# |-- cluster0
# |-- cluster1
# |-- ...
# |-- ipfs0
# |-- ipfs1
# |-- ...
#
# During the first start, default configurations are created for all peers.

services:

##################################################################################
## Cluster PEER 0 ################################################################
##################################################################################

  ipfs0:
    container_name: ipfs0
    image: ipfs/go-ipfs:latest
    ports:
      - "4001:4001" # ipfs swarm - expose if needed/wanted
      - "127.0.0.1:5001:5001" # ipfs api - expose if needed/wanted
      - "127.0.0.1:8080:8080" # ipfs gateway - expose if needed/wanted
    volumes:
      - ./compose/ipfs0:/data/ipfs

  cluster0:
    container_name: cluster0
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs0
    environment:
      CLUSTER_PEERNAME: cluster0
      CLUSTER_SECRET: ${CLUSTER_SECRET} # From shell variable if set
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs0/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*' # Trust all peers in Cluster
      CLUSTER_RESTAPI_HTTPLISTENMULTIADDRESS: /ip4/0.0.0.0/tcp/9094 # Expose API
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    ports:
          # Open API port (allows ipfs-cluster-ctl usage on host)
          - "127.0.0.1:9094:9094"
          # The cluster swarm port would need  to be exposed if this container
          # was to connect to cluster peers on other hosts.
          # But this is just a testing cluster.
          # - "9095:9095" # Cluster IPFS Proxy endpoint
          # - "9096:9096" # Cluster swarm endpoint
    volumes:
      - ./compose/cluster0:/data/ipfs-cluster

##################################################################################
## Cluster PEER 1 ################################################################
##################################################################################

# See Cluster PEER 0 for comments (all removed here and below)
  ipfs1:
    container_name: ipfs1
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs1:/data/ipfs

  cluster1:
    container_name: cluster1
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs1
    environment:
      CLUSTER_PEERNAME: cluster1
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs1/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster1:/data/ipfs-cluster

##################################################################################
## Cluster PEER 2 ################################################################
##################################################################################

# See Cluster PEER 0 for comments (all removed here and below)
  ipfs2:
    container_name: ipfs2
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs2:/data/ipfs

  cluster2:
    container_name: cluster2
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs2
    environment:
      CLUSTER_PEERNAME: cluster2
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs2/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster2:/data/ipfs-cluster

# For adding more peers, copy PEER 1 and rename things to ipfs2, cluster2.
# Keep bootstrapping to cluster0.

  ipfs3:
    container_name: ipfs3
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs3:/data/ipfs

  cluster3:
    container_name: cluster3
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs3
    environment:
      CLUSTER_PEERNAME: cluster3
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs3/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster3:/data/ipfs-cluster


  ipfs4:
    container_name: ipfs4
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs4:/data/ipfs

  cluster4:
    container_name: cluster4
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs4
    environment:
      CLUSTER_PEERNAME: cluster4
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs4/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster4:/data/ipfs-cluster


  ipfs5:
    container_name: ipfs5
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs5:/data/ipfs

  cluster5:
    container_name: cluster5
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs5
    environment:
      CLUSTER_PEERNAME: cluster5
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs5/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster5:/data/ipfs-cluster


  ipfs6:
    container_name: ipfs6
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs6:/data/ipfs

  cluster6:
    container_name: cluster6
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs6
    environment:
      CLUSTER_PEERNAME: cluster6
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs6/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster6:/data/ipfs-cluster


  ipfs7:
    container_name: ipfs7
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs7:/data/ipfs

  cluster7:
    container_name: cluster7
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs7
    environment:
      CLUSTER_PEERNAME: cluster7
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs7/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster7:/data/ipfs-cluster


  ipfs8:
    container_name: ipfs8
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs8:/data/ipfs

  cluster8:
    container_name: cluster8
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs8
    environment:
      CLUSTER_PEERNAME: cluster8
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs8/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster8:/data/ipfs-cluster


  ipfs9:
    container_name: ipfs9
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs9:/data/ipfs

  cluster9:
    container_name: cluster9
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs9
    environment:
      CLUSTER_PEERNAME: cluster9
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs9/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster9:/data/ipfs-cluster


  ipfs10:
    container_name: ipfs10
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs10:/data/ipfs

  cluster10:
    container_name: cluster10
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs10
    environment:
      CLUSTER_PEERNAME: cluster10
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs10/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster10:/data/ipfs-cluster


  ipfs11:
    container_name: ipfs11
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs11:/data/ipfs

  cluster11:
    container_name: cluster11
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs11
    environment:
      CLUSTER_PEERNAME: cluster11
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs11/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster11:/data/ipfs-cluster


  ipfs12:
    container_name: ipfs12
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs12:/data/ipfs

  cluster12:
    container_name: cluster12
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs12
    environment:
      CLUSTER_PEERNAME: cluster12
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs12/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster12:/data/ipfs-cluster


  ipfs13:
    container_name: ipfs13
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs13:/data/ipfs

  cluster13:
    container_name: cluster13
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs13
    environment:
      CLUSTER_PEERNAME: cluster13
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs13/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster13:/data/ipfs-cluster


  ipfs14:
    container_name: ipfs14
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs14:/data/ipfs

  cluster14:
    container_name: cluster14
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs14
    environment:
      CLUSTER_PEERNAME: cluster14
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs14/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster14:/data/ipfs-cluster


  ipfs15:
    container_name: ipfs15
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs15:/data/ipfs

  cluster15:
    container_name: cluster15
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs15
    environment:
      CLUSTER_PEERNAME: cluster15
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs15/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster15:/data/ipfs-cluster


  ipfs16:
    container_name: ipfs16
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs16:/data/ipfs

  cluster16:
    container_name: cluster16
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs16
    environment:
      CLUSTER_PEERNAME: cluster16
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs16/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster16:/data/ipfs-cluster


  ipfs17:
    container_name: ipfs17
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs17:/data/ipfs

  cluster17:
    container_name: cluster17
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs17
    environment:
      CLUSTER_PEERNAME: cluster17
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs17/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster17:/data/ipfs-cluster


  ipfs18:
    container_name: ipfs18
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs18:/data/ipfs

  cluster18:
    container_name: cluster18
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs18
    environment:
      CLUSTER_PEERNAME: cluster18
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs18/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster18:/data/ipfs-cluster


  ipfs19:
    container_name: ipfs19
    image: ipfs/go-ipfs:latest
    volumes:
      - ./compose/ipfs19:/data/ipfs

  cluster19:
    container_name: cluster19
    image: ipfs/ipfs-cluster:latest
    depends_on:
      - ipfs19
    environment:
      CLUSTER_PEERNAME: cluster19
      CLUSTER_SECRET: ${CLUSTER_SECRET}
      CLUSTER_IPFSHTTP_NODEMULTIADDRESS: /dns4/ipfs19/tcp/5001
      CLUSTER_CRDT_TRUSTEDPEERS: '*'
      CLUSTER_MONITORPINGINTERVAL: 2s # Speed up peer discovery
    volumes:
      - ./compose/cluster19:/data/ipfs-cluster
